<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>便携式艾灸仪</string>
		<key>image</key>
		<string>moxa_bianxieshi</string>
		<key>UUID</key>
		<string>0x01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>立式艾灸仪</string>
		<key>image</key>
		<string>moxa_lishi</string>
		<key>UUID</key>
		<string>0x02</string>
	</dict>
</array>
</plist>
